@model ClubManager.Models.ClubModels.Club

@{
    ViewBag.Title = "Details";
}
<div id="clubEventModal" class="my-modal modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="clubEventModalContent"></div>
        </div>
    </div>
</div>

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <div class="panel panel-default">
        <div class="panel-heading">@Html.DisplayFor(model => model.ClubName)</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.CreationDate)</dt>
                <dd>@Html.DisplayFor(model => model.CreationDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.AdminId)</dt>
                <dd>@Html.DisplayFor(model => model.AdminId)</dd>
            </dl>
        </div>
    </div>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Clubs", new { id = Model.ClubId }, new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("Back to List", "Index", "Clubs", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Delete", "Delete", "Clubs", new { id = Model.ClubId }, new { @class = "btn btn-danger btn-sm" })
</p>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a data-toggle="tab" href="#events">Events</a></li>
    <li role="presentation"><a data-toggle="tab" href="#members">Members</a></li>
</ul>

<div class="tab-content">
    <div id="events" class="tab-pane fade in active">
        @Html.Action("_ClubEvents", "ClubEvents", new { id = Model.ClubId })
    </div>
    <div id="members" class="tab-pane fade">
        @Html.Action("_ClubMembers", "Members", new { id = Model.ClubId })
    </div>
</div>





@section scripts {
    <script type="text/javascript">
        $(function () {
            $("a[data-modal]").on("click", function (e) {
                $("#clubEventModalContent").load(this.href, function () {
                    $("#clubEventModal").modal({
                        keyboard: true
                    }, "show");

                });
                return false;
            });

        });

    </script>
    }
